.bankCardMake {
  color: rgb(49, 50, 51);
  font-size: .28rem;
}

.bankCardMake-list {
  margin-top: .2rem;
  background: white;
  padding: 0 .3rem;
}

.bankCardMake-list .item {
  height: .99rem;
  line-height: .99rem;
  border-bottom: 1px solid rgb(242, 244, 245);
}

.bankCardMake-list .item .title {
  float: left;
}

.bankCardMake-list .item .val {
  color: rgb(98, 99, 100);
  float: right;
}


.bankCardMake-tips {
  margin-top: .3rem;
  height: .34rem;
  display: flex;
  align-items: center;
  padding-left: .3rem;
}

.bankCardMake-tips .icon {
  height: .34rem;
  width: .34rem;
  margin-right: .15rem;
}

.bankCardMake-tips-det {
  line-height: .44rem;
  font-size: .24rem;
  color: rgb(151, 152, 153);
  padding-left: .3rem;
  margin-top: .25rem;
}

.bankCardMake-btn {
  width: 5.4rem;
  background: linear-gradient(to top, rgb(11, 148, 255), rgb(29, 194, 255));
  text-align: center;
  height: .9rem;
  color: white;
  border-radius: .45rem;
  line-height: .9rem;
  font-size: .34rem;
  margin: .85rem auto;
}

.bankCardMake-footer {
  position: fixed;
  bottom: .45rem;
  width: 3rem;
  left: 50%;
  margin-left: -1.5rem;
  height: .28rem;
}