.welfareBulletin {
  background: linear-gradient(to top, rgb(24, 182, 255), rgb(23, 94, 255));
  color: rgb(49, 50, 51);
  font-size: .26rem;
  line-height: .48rem;
  height: 100vh;
  position: relative;
}

.welfareBulletin-header {
  height: 2.9rem;
  width: 100%;
}

.welfareBulletin-page {
  margin: 0 auto .24rem;
  width: 6.9rem;
  border-radius: .16rem;
  background: white;
}

.welfareBulletin-page-title-bg {
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(191, 231, 254));
  border-radius: .16rem .16rem 0 0;
}

.welfareBulletin-page-title {
  height: .4rem;
  margin: 0 auto .65rem;
  display: block;
  padding-top: .37rem;
}

.welfareBulletin-page-content {
  padding: 0 .5rem .65rem;
}

.welfareBulletin-bottom {
  font-size: .26rem;
  color: white;
  text-align: center;
  position: absolute;
  bottom: .28rem;
  width: 100%;
}